{% load static %}{% load bootstrap5 %} 
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Instaclone</title>

    {% block styles %}{% bootstrap_css %} 
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/profile.css' %}"> 
    {% endblock %}
</head>

<body>

    <!--  -->
    {% block content %} {{block.super}} {% endblock %}


    <!--  -->
    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% endblock %}
</body>

</html> 