{% load bootstrap5 %} {% load static %}
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container justify-content-center">
            <div class="d-flex flex-row justify-content-between align-items-center col-9">
                <a class="navbar-brand" href="">
                    <img src="{% static 'img/ig-logo.png'%}"loading="lazy">
                </a>
                <div>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    </form>
                </div>
                <div class="d-flex flex-row">
                    <ul class="list-inline m-0">
                        <li class="list-inline-item">
                            <a href="#" class="link-menu">
                                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-house-door-fill"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M6.5 10.995V14.5a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5V11c0-.25-.25-.5-.5-.5H7c-.25 0-.5.25-.5.495z" />
                                    <path fill-rule="evenodd"
                                        d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                                </svg>
                            </a>
                        </li>
                        <li class="list-inline-item ml-2">
                            <a href="#" class="link-menu">
                                <svg aria-label="Share Post" fill="#262626" height="24" viewBox="0 0 48 48" width="24">
                                    <path d="M47.8 3.8c-.3-.5-.8-.8-1.3-.8h-45C.9 3.1.3 3.5.1 4S0 5.2.4 5.7l15.9 15.6 5.5 22.6c.1.6.6 1 1.2 1.1h.2c.5 0 1-.3 1.3-.7l23.2-39c.4-.4.4-1 .1-1.5zM5.2 6.1h35.5L18 18.7 5.2 6.1zm18.7 33.6l-4.4-18.4L42.4 8.6 23.9 39.7z"></path>
                                  </svg>     
                            </a>
                        </li>
                        <li class="list-inline-item ml-2">
                            <a href="{% url 'app_insta:feed' %}" class="link-menu">
                                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-compass"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M8 15.016a6.5 6.5 0 1 0 0-13 6.5 6.5 0 0 0 0 13zm0 1a7.5 7.5 0 1 0 0-15 7.5 7.5 0 0 0 0 15z" />
                                    <path
                                        d="M6 1a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2H7a1 1 0 0 1-1-1zm.94 6.44l4.95-2.83-2.83 4.95-4.95 2.83 2.83-4.95z" />
                                </svg>
                            </a>
                        </li>
                        <li class="list-inline-item ml-2">
                            <a href="#" class="link-menu">
                                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-heart"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                </svg>
                            </a>
                        </li>
                        <li class="list-inline-item ml-2 align-middle">
                            <a href="{% url 'app_insta:profile' %}" class="link-menu">
                                <div
                                    class="rounded-circle overflow-hidden d-flex justify-content-center align-items-center border topbar-profile-photo">
                                    <img src="{{user.profile.photo.url}}" alt="..."
                                        style="transform: scale(1.5); width: 100%; position: absolute; left: 0;">
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>
