<header>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/840px-Instagram_logo.svg.png" id="logo">
    <input type="text" placeholder="search">
    <nav>
        <i class='fa fa-home'></i>
        <i class='fa fa-paper-plane'></i>
        <i class='fa fa-compass'></i>
        <i class='far fa-heart'></i>
        <div id="user">
            <img src="https://images.unsplash.com/profile-fb-1535725706-502eab0fee8e.jpg?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128">
        </div>
    </nav>

